
body {
    padding-bottom: 3rem;
    background-color: whitesmoke;
  }

/*CSS HEADER*/
.form-control-dark {
    border-color: var(--bs-gray);
  }

.form-control-dark:focus {
border-color: #fff;
box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
.text-small {
    font-size: 85%;
  }
  
.dropdown-toggle {
    outline: 0;
  }

/* ICON HEADER */
.icon{
  margin-right: 6px;
}
/*CSS CARROUSEL*/ 

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
.carousel-item {
    height: 32rem;
  }
  
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}  
/*CSS CATALOGO 2 */
#catalogo{
  margin-left: 4rem !important;
  margin-top: 1rem !important;
}
.card{
  margin-left: 2rem !important;
  max-width: 550px;
}
.btn-agregar{
  width: 100%;
}
/* CSS FOOTER*/
.bi{
  vertical-align: -.125em;
  fill: currentColor;
  width: 40px;
  height: 40px;
}
.nav-icon{
  list-style: none;
  display: flex;
  padding-left: 0;
}